$primary: #df6951;
$secondary: #f0bb1f;
$light-peach: #fff1da;
$heading-blue: #14183e;
$light-blue: #5e6282;
$grey: #686d77;
$nav-text: #212832;
$nav-height: 5rem;

@mixin flexbox($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}
